services:
  catcollectorspa:
    image: postgres
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${SQL_USER} 
      POSTGRES_PASSWORD:  ${SQL_PASSWORD}
      POSTGRES_DB:  ${SQL_DATABASE}

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_api
    command: >
      bash -c "
              python manage.py makemigrations &&
              python manage.py migrate &&
              python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend/:/usr/src/backend/
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres  
volumes:
  postgres_data:
  